<div class="modal-header">
	<h3 ng-if="old_exam" class="modal-title"> Edit exam {{old_exam.title}} for {{old_exam.class}} </h3>
	<h3 ng-if="!old_exam" class="modal-title"> Create a new exam </h3>
	<button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
	<button class="btn btn-primary" type="button" ng-click="submit()">Submit</button>
</div>
<div class="modal-body">
	<table>
	<tr>
		<td>Name:</td>
		<td><input ng-model="exam.title"></input></td>
	</tr>
	<tr>
		<td>Class:</td>
		<td><select ng-model="exam.class" ng-options="c as c for c in classes"></select></td></tr>
	</table>
</div>