<div class="row">
	<div class = "col-md-12 main-table-container" ng-show="exam">
		<table class="main-table">
			<tr>
				<td class="header-container">
					<table class="header-table">
						<tr>
							<td class="header-table-title">
								<h1>{{exam.title}}</h1>
							</td>
							<td class ="small-btn-container">
								<div class="btn btn-primary" ng-click="add_question_to_exam(exam)">
									Add a new question
									<i class="glyphicon glyphicon-plus"></i>		
								</div>
							</td>
							<td class ="small-btn-container">
								<div class="btn btn-primary" ng-click="edit_exam(exam)">
									Edit
									<i class="glyphicon glyphicon-edit"></i>		
								</div>
							</td>
							<td class ="small-btn-container">
								<div class="btn btn-danger" ng-click="delete_exam(exam)">
									Delete Exam
									<i class="glyphicon glyphicon-remove"></i>		
								</div>
							</td>
						</tr>
					</table>
				</td>
			</tr>
			<tr class="question-row" ng-repeat= "question in exam.questions" ng-mouseover="question_hover=true" ng-mouseleave="question_hover=false">
				<td class="question-row-container">
					<table>
						<tr>
							<td class="question-container" >
								<table class="inside-tbl">
									<tr class="question-content-row" >
										<td>
											<table>
												<tr>
													<td class="question-text">
														<p>{{question.content}}</p>
													</td>
													<td class ="small-btn-container">
														<div ng-show="question_hover"class="btn btn-primary" ng-click="edit_question(exam, question)">
															Edit Question
															<i class="glyphicon glyphicon-edit"></i>		
														</div>
													</td>
													<td class ="small-btn-container">
														<div ng-show="question_hover"class="btn btn-danger" ng-click="delete_question(question)">
															Delete Question
															<i class="glyphicon glyphicon-remove"></i>		
														</div>
													</td>
												</tr>
											</table>
										</td>
									</tr>
									<tr>
										<td class="answer-container">
											<table class="answer-row-container">
												<tr class="answer-row" ng-repeat="answer in question.answers">
													<td class="answer-text">
														{{answer.content}}
													</td>
													<td class="small-glyph-container" ng-show="answer.correct">
														<i class="glyphicon glyphicon-ok green"></i>
													</td>
													<td class="small-glyph-container" ng-show="!answer.correct">
														<i class="glyphicon glyphicon-remove red"></i>
													</td>
												</tr>
											</table>
										</td>
									</tr>
								</table>
							</td>
						</tr>
					</table>
				</td>
			</tr>
			<tr class="space">
				<td></td>
			</tr>
		</table>
	</div>
</div>