<div class="col-md-4">

		<ul ng-repeat= "(key,value) in exams | groupBy: 'class'">
			{{key}}
			<li ng-repeat="exam in value" ng-click="select_exam(exam)">
				{{exam.title}}
			</li>
		</ul>
	<div class="btn btn-primary" ng-click="add_new_exam()">
		Add a new exam
        <i class="glyphicon glyphicon-plus"></i>		
	</div>
</div>

<div class = "col-md-8" ng-show="selected_exam">
	<div>
		<h3>{{selected_exam.title + " | " + selected_exam.class}}</h3></br>
		<table>
			<tr ng-repeat= "question in selected_exam.questions" >
				<td style = "width: 100%;">
					<table style = "width: 100%">
						<tr style = "width: 100%;"><td>{{question.content}}
						</td></tr>
						<tr ng-repeat="answer in question.answers">
							<td class = "answerTable">{{answer.content}}</td>
						</tr>
					</table>
				</td>
			</tr></br>
		</table>
	</div>
	<div class="btn btn-primary" ng-click="add_question_to_exam(selected_exam)">
		Add a new question
        <i class="glyphicon glyphicon-plus"></i>		
	</div>
</div>

